<div class="container">
  <%= render "layouts/error_message", error: @recipe %>
</div>

<div class="container mt-4">
<%= form_with model: @recipe, local: true do |f| %>

<!------------ タイトル入力欄 -------------->
  <div class="row">
    <div class="form-group">
      <%= f.text_field :title, class: "form-control form-control-lg", size: '40 x 3', placeholder: "タイトル" %>
    </div>
  </div>

<!------------ 画像登録欄 -------------->
  <div class="row">
    <div class="col-5">
      <div class="form-group">
        <%= f.file_field :recipe_image, class: "form-control-file", accept: "image/*", id: "recipe_recipe_image" %>
        <div id="new-image"></div>
      </div>
    </div>

<!------------ 材料登録欄 -------------->
    <div class="col-7">
      <div class="form-inline">
        <h3>材料</h3>
        <h4 class="form-inline pl-4">
          <%= f.text_field :serving, placeholder: "何", size: "1x1", class: 'ml-4' %>人分
        </h4>
      </div>
      <div class="materials">
        <div class="form-inline mt-4 mb-2">
          <h5 class="offset-1">材料・調味料</h5>
          <h5 class="offset-3">分量</h5>
        </div>
        <%= f.fields_for :materials do |t| %>
          <%= render "user/recipes/material_fields", f: t %>
        <% end %>
      </div>
      <%# フォーム追加の位置を指定 %>
      <div id="detail-association-insertion-point1"></div>
      <div class="col-5 mx-auto mt-2">
        <%= link_to_add_association "+フォームを追加", f, :materials,
        class: "btn btn-secondary btn-block",
        data: {
        association_insertion_node: '#detail-association-insertion-point1',
        association_insertion_method: 'before'
        }%>
      </div>
    </div>
  </div>

<!------------ ジャンル登録欄 -------------->
  <div class="row">
    <div class="form-group">
      <%= f.label :ジャンル %><br>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {include_blank: '選択する'}) %>
    </div>
  </div>

<!------------ ポイント入力欄 -------------->
  <div class="row">
    <h3>Point</h3>
  </div>
  <div class="row mt-1">
    <div class="form-group">
      <%= f.text_area :introduction, class: "form-control form-control-lg", size: '60 x 4', placeholder: "入力" %>
    </div>
  </div>

<!------------ 手順登録欄 -------------->
  <div class="row">
    <h4>～作り方～</h4>
  </div>
  <div class="row mt-1">
    <div class="procedures">
      <div class="mx-auto">
        <%= f.fields_for :procedures do |t| %>
          <%= render "user/recipes/procedure_fields", f: t %>
        <% end %>
      </div>
      <%# フォーム追加の位置を指定 %>
      <div id="detail-association-insertion-point2"></div>
      <div class="col-5 mx-auto mt-2">
        <%= link_to_add_association "+フォームを追加", f, :procedures,
        class: "btn btn-secondary btn-block",
        data: {
        association_insertion_node: '#detail-association-insertion-point2',
        association_insertion_method: 'before'
        }%>
      </div>
    </div>
  </div>

<!------------ 登録ボタン -------------->
  <div class="row mt-4">
    <div class="form-inline mx-auto">
      <% if @recipe.is_draft == true %>
        <%= f.submit "レシピを公開", :name => 'publicize_draft', style: 'font-size: 20px', class: 'mr-5 btn btn-sm btn-warning text-white' %>
        <%= f.submit "下書きを更新", :name => 'update_draft', style: 'font-size: 20px', class: 'mr-5 btn btn-sm btn-outline-secondary' %>
      <% else %>
        <%= f.submit "レシピを更新", :name => 'update_post', style: 'font-size: 20px', class: 'mr-5 btn btn-sm btn-outline-info' %>
      <% end %>
      <%= link_to "レシピを削除", recipe_path(@recipe), method: :delete, data: {confirm: "このレシピを削除しますか？"}, style: 'font-size: 20px', class: 'btn btn-outline-danger btn-sm' %>
    </div>
  </div>

<!------------ タグ登録欄 -------------->
  <div class="row">
    <div class="form-group form-inline">
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class='form-check mr-3'>
          <%= tag.label class: 'form-check-label' do %>
            <%= tag.check_box class: 'form-check-input' %>
            <%= tag.text %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>



<% end %>

  <div class="row">
    <div class="row justify-content-end">
    <%= form_with url: recipe_tags_path(@recipe), local: true do |f| %>
      <%= f.text_field :name %>
      <%= f.submit "追加する" %>
    <% end %>
    </div>
  </div>

</div>