<div class="container">
  <div class="row mt-3">
    <h1 class="mx-auto">レシピ一覧</h1>
  </div>

  <!------------ 検索フォーム -------------->
  <div class="row mt-3">
    <%= render 'layouts/search', recipes: @recipes %>
  </div>

  <!------------ レシピ検索結果の表示 -------------->
  <div class="row mt-3 d-block">
    <% if @recipes.blank? %>
      <h4>・検索結果はありません</h4>
    <% else %>
      <h3 class="font-italic d-inline-block" style="background: linear-gradient(transparent 70%, #FF8856 85%);">検索されたレシピ</h3>
      <table class="d-inline">
        <tr>
          <% @recipes.reject(&:is_draft).each do |recipe| %>
            <td>
              <div>
                <%= link_to recipe_path(recipe.id) do %>
           　　　　   <%= image_tag recipe.recipe_image, :width => '260', :height => 'auto' %>
                <% end %>
              </div>
              <div class="text-center">
                <h3><%= recipe.title %></h3>
              </div>
            </td>
          <% end %>
        </tr>
      </table>
    <% end %>
  </div>

  <!------------ レシピ一覧 -------------->
  <div class="row mt-3">
    <h3 class="font-italic d-inline-block" style="background: linear-gradient(transparent 70%, #FF8856 85%);">すべてのレシピ</h3>
  </div>
  <div class="row mt-3">
    <table>
      <tr class="d-flex flex-wrap">
      <% @recipe_all.each do |recipe| %>
      <% if recipe.is_draft == false %>
        <td class="mr-3">
          <div>
            <%= link_to recipe_path(recipe.id) do %>
              <%= image_tag recipe.recipe_image, :width => '260', :height => 'auto' %>
            <% end %>
          </div>
          <div class="text-center">
            <h3><%= recipe.title %></h3>
          </div>
        </td>
      <% end %>
      <% end %>
      </tr>
    </table>
  </div>

</div>