<div class="container">
  <%= form_with model: @recipe, url: recipes_path, method: :post do |f| %>
  <div class="row" style="margin-top:50px;">
    <div class="form-group">
      <%= f.text_field :title, class: "form-control form-control-lg", placeholder: "タイトル入力" %>
    </div>
  </div>
  <div class="row">
    <div class="col-5">
      <div class="form-group">
        <%= f.file_field :recipe_image, class: "form-control-file", accept: "image/*" %>
      </div>
    </div>
    <div class="col-7">
      <div class="form-group">

      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <%= f.label :ジャンル %><br>
      <%= f.collection_select(:genre_id, Genre.all, :id, :name, {include_blank: '選択する'}) %>
    </div>
    <div class="form-group">

    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <%= f.label :商品説明 %><br>
      <%= f.text_area :introduction, class: "form-control", placeholder: "説明文を書きましょう。" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group">

    </div>
  </div>
  <div class="row justify-content-center mt-5">
    <div class="actions">
      <%= f.submit 'レシピ投稿', class: "btn btn-success" %>
    </div>
  </div>
  <% end %>
</div>



<div class="container mt-4 align-imtes-center">
  <div class='bg-light mx-auto mb-5'>

  <%= form_with model: @recipe, local:true do |f| %>

    <!------------ 材料登録欄 -------------->
      <div class="row">
        <div class="form-inline mb-2">
          <h4 class="mb-0">材料</h4>
          <%= f.text_field :serving, placeholder: "何人分", size:"10x3", class:'ml-4' %>
        </div>
      </div>

      <div class="row">
        <table class="table table-borderless mb-0" id="ingredient-table">
          <thead>
            <th class="pb-1"><h6 class="mb-0">材料・調味料</h6></th>
            <th class="pb-1"><h6 class="mb-0">分量</h6></th>
          </thead>
          <tbody>
            <%= f.fields_for :materials do |material| %>
              <tr>
                <td style="width: 12%" class="py-1"><%= ingredient.text_field :name, placeholder: "例）にんじん" %></td>
                <td style="width: 10%" class="py-1"><%= ingredient.text_field :amount, placeholder: "例）一本" %></td>
                <td class="align-middle p-0"><input type="button" value="削除" onclick="deleteRow(this)"></td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <input type="button" value="材料を追加" onclick="addRow('ingredient-table')" class="btn btn-sm btn-color py-0 my-3 ml-2">
      </div>

    <!------------ 作成手順登録欄 -------------->
    <div style='max-width: 680px' class="mt-3 px-5 pt-4 mx-auto border-0">
      <div class="row">
        <h4 class="text-center mx-auto mb-0">つくり方</h4>
      </div>

      <div class="row">
        <table class="table table-borderless" id="procedure-table">
          <%= f.fields_for :procedures do |procedure| %>
          <tr>
            <td style='width: 70%' class="px-0"><%= procedure.text_area :body, placeholder:"手順を記入", size:'80 x 3', class:'p-2' %> </td>
            <td class="align-middle"><input type="button" value="削除" onclick="deleteRow(this)"></td>
          </tr>
          <% end %>
        </table>
        <input type="button" value="手順を追加" onclick="addRow('procedure-table')" class="btn btn-sm btn-color py-0 mb-3">
      </div>
    </div>

    <div class="row mt-4 pb-5">
      <div class="form-inline mx-auto">
        <%= f.submit 'レシピを公開', :name => 'post', style: 'font-size: 20px', class:'mr-5 btn btn-sm btn-warning text-white' %>
        <%= f.submit '下書きに保存', :name => 'update', style: 'font-size: 20px', class:'mr-5 btn btn-sm btn-outline-secondary' %>
      </div>
    </div>

    <%= f.hidden_field :user_id, :value => current_user.id %>
    <% end %>

  </div>
</div>