<div class="container mt-4">

<!------------ タイトル -------------->
  <div class="row">
    <h2><%= @recipe.title %></h2>
  </div>

<!------------ ジャンル,タグ -------------->
  <div class="row pl-3">
    <h5>【<%= @recipe.genre.name %>】</h5>
    <% @recipe.tags.each do |tag| %>
      <h5><%= tag.name %></h5>
    <% end %>
  </div>

<!------------ 画像 -------------->
  <div class="row mt-3">
    <div class="col-5">
      <%= image_tag @recipe.recipe_image, :size => '450x450' %>
    </div>

<!------------ 材料 -------------->
    <div class="col-7">
      <div class="form-inline">
        <h3>材料</h3>
        <h4 class="pl-4"><%= @recipe.serving %>人分</h4>
      </div>
      <table class="table table-borderless table-sm mt-3">
        <tr>
          <td class="col-4"><h4>材料・調味料</h4></td>
          <td class="col-3"><h4>分量</h4></td>
        </tr>
        <% @recipe.materials.each do |material| %>
        <tr>
          <td><h5><%= material.name %></h5></td>
          <td><h5><%= material.amount %></h5></td>
        </tr>
        <% end %>
      </table>
    </div>
  </div>

<!------------ ポイント -------------->
  <div class="row mt-4">
    <h3>Point</h3>
  </div>
  <div class="row border" style="width:600px; height:200px;">
    <h5><%= @recipe.introduction %></h5>
  </div>

<!------------ 手順 -------------->
  <div class="row mt-4">
    <h4>～作り方～</h4>
  </div>
  <div class="row mt-3">
    <div class="d-flex flex-wrap">
    <% @recipe.procedures.each do |procedure| %>
      <div class="border mb-3 mr-4" style="width:350px; height:200px;">
        <h5>Step<%= @step %></h5>
        <h5><%= procedure.body %></h5>
      </div>
      <% @step += 1 %>
    <% end %>
  　</div>
  </div>

<!------------ いいね -------------->
  <div class="row mt-4">
  <% if @recipe.favorited_by?(current_user) %>
    <p>
      <%= link_to recipe_favorites_path(@recipe), method: :delete do %>
        <h5>♥<%= @recipe.favorites.count %> いいね</h5>
      <% end %>
    </p>
  <% else %>
    <p>
      <%= link_to recipe_favorites_path(@recipe), method: :post do %>
        <h5>♡<%= @recipe.favorites.count %> いいね</h5>
      <% end %>
    </p>
  <% end %>
  </div>

<!------------ コメント投稿 -------------->
  <div class="row mt-4">
    <h5>コメント件数：<%= @recipe.post_comments.count %></h5>
  </div>
  <% if @recipe.user != current_user %>
  <div class="row mt-2">
    <%= form_with model: [@recipe, @post_comment] do |f| %>
      <%= f.text_area :comment, size: '50 x 3', placeholder: "コメントをここに" %>
      <%= f.submit "送信する" %>
    <% end %>
  </div>
  <% end %>

<!------------ コメント表示 -------------->
  <div class="row mt-4">
    <% @recipe.post_comments.each do |post_comment| %>
      <p><%= image_tag post_comment.user.get_profile_picture(100,100) %></p>
      <%= post_comment.user.name %>
      <%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %>
      <% if post_comment.user == current_user %>
        <%= link_to "削除", recipe_post_comment_path(post_comment.recipe, post_comment), method: :delete %>
      <% end %>
    <% end %>
  </div>

<!------------ 編集 -------------->
  <div class="row mt-4">
    <div class="mx-auto">
      <%= link_to "編集へ", edit_recipe_path(@recipe.id), style: 'font-size: 20px', class: 'px-4 btn btn-sm btn-outline-success' %>
    </div>
  </div>

</div>